/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: #222;
    background: #f5f5f5;
}

/* HEADER */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #222;
    font-weight: bold;
}

.nav a:hover {
    color: #007bff;
}

/* HERO */
.hero {
    height: 90vh;
    background: url("images/image1.jpeg") center/cover no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
.hero h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    max-width: 600px;
    margin-bottom: 25px;
}

.btn {
    padding: 12px 25px;
    background: white;
    color: #007bff;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.btn:hover {
    opacity: 0.8;
}

/* FEATURES SECTION */
.features {
    padding: 60px 40px;
    background: white;
    text-align: center;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 40px;
}

.feature-card {
    background: #f0f8ff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.feature-card h3 {
    margin-bottom: 15px;
}

/* ABOUT */
.about {
    padding: 60px 40px;
    background: #fafafa;
    text-align: center;
    font-size: 18px;
}

/* CONTACT */
.contact {
    padding: 60px 40px;
    background: white;
    text-align: center;
}

.contact-btn {
    background: #007bff;
    color: white;
}

/* FOOTER */
.footer {
    padding: 20px;
    text-align: center;
    background: #222;
    color: white;
    margin-top: 40px;
}
